<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    <% URL.forEach(element => { %>
      <li> <%= element.shortId %></li>
    <% }) %>
    
</body>
</html>