<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div>
        <form method="post" action="/signup">
            <h1>SignUp Form</h1>
            <label for="name">Full Name:</label>
            <input type="name" name = "name" placeholder="Enter name">
            <label for="password">Password:</label>
            <input type="password" name= "password" placeholder="Enter password">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter email">
            <button type="submit">Sign Up</button>
        </form>
    </div>
    
</body>
</html>